CloudyHoa(Client)/Connected Services/ObjectServiceReference/WcfServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeleteObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="objectNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hoa_id" type="xs:int" />
        <xs:element minOccurs="0" name="type_object" type="xs:int" />
        <xs:element minOccurs="0" name="objectNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddObjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hoaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllObjectsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getObjectsStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hoa_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getObjectsStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getObjectsStructureResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>