CloudyHoa(Client)/Connected Services/MDService/MDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MD_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MDService.MDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MDService.MDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MDService.MDService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMDService_AddMeteringDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMeteringDevice" />
  </wsdl:message>
  <wsdl:message name="IMDService_AddMeteringDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMeteringDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IMDService_EditMeteringDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMeteringDevice" />
  </wsdl:message>
  <wsdl:message name="IMDService_EditMeteringDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMeteringDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IMDService_DeleteMeteringDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMeteringDevice" />
  </wsdl:message>
  <wsdl:message name="IMDService_DeleteMeteringDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMeteringDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IMDService_GetMeteringDevicesO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeteringDevicesO" />
  </wsdl:message>
  <wsdl:message name="IMDService_GetMeteringDevicesO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeteringDevicesOResponse" />
  </wsdl:message>
  <wsdl:message name="IMDService_GetMeteringDevicesP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeteringDevicesP" />
  </wsdl:message>
  <wsdl:message name="IMDService_GetMeteringDevicesP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeteringDevicesPResponse" />
  </wsdl:message>
  <wsdl:portType name="IMDService">
    <wsdl:operation name="AddMeteringDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDService/AddMeteringDevice" message="tns:IMDService_AddMeteringDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDService/AddMeteringDeviceResponse" message="tns:IMDService_AddMeteringDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMeteringDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDService/EditMeteringDevice" message="tns:IMDService_EditMeteringDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDService/EditMeteringDeviceResponse" message="tns:IMDService_EditMeteringDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMeteringDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDService/DeleteMeteringDevice" message="tns:IMDService_DeleteMeteringDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDService/DeleteMeteringDeviceResponse" message="tns:IMDService_DeleteMeteringDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeteringDevicesO">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDService/GetMeteringDevicesO" message="tns:IMDService_GetMeteringDevicesO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDService/GetMeteringDevicesOResponse" message="tns:IMDService_GetMeteringDevicesO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeteringDevicesP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDService/GetMeteringDevicesP" message="tns:IMDService_GetMeteringDevicesP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDService/GetMeteringDevicesPResponse" message="tns:IMDService_GetMeteringDevicesP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MD" type="tns:IMDService">
    <wsp:PolicyReference URI="#MD_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMeteringDevice">
      <soap12:operation soapAction="http://tempuri.org/IMDService/AddMeteringDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMeteringDevice">
      <soap12:operation soapAction="http://tempuri.org/IMDService/EditMeteringDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMeteringDevice">
      <soap12:operation soapAction="http://tempuri.org/IMDService/DeleteMeteringDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeteringDevicesO">
      <soap12:operation soapAction="http://tempuri.org/IMDService/GetMeteringDevicesO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeteringDevicesP">
      <soap12:operation soapAction="http://tempuri.org/IMDService/GetMeteringDevicesP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDService">
    <wsdl:port name="MD" binding="tns:MD">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.MDService.MDService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.MDService.MDService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>