CloudyHoa(Client)/Connected Services/MDService/WcfServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddMeteringDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verification_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="installation_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="service_id" type="xs:int" />
        <xs:element minOccurs="0" name="personal_account_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeteringDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMeteringDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verification_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="installation_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="service_id" type="xs:int" />
        <xs:element minOccurs="0" name="personal_account_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMeteringDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeteringDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeteringDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteringDevicesO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteringDevicesOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMeteringDevicesOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteringDevicesP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteringDevicesPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMeteringDevicesPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>