CloudyHoa(Client)/Connected Services/ServiceReference1/ServiceHoaAccount1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceHoaAccount" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="HoaAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHoaAccount_CheckAccout_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccout" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_CheckAccout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccoutResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_GetTableOfHoa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableOfHoa" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_GetTableOfHoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableOfHoaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_EditAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_EditAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_GetAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountName" />
  </wsdl:message>
  <wsdl:message name="IServiceHoaAccount_GetAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHoaAccount">
    <wsdl:operation name="CheckAccout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/CheckAccout" message="tns:IServiceHoaAccount_CheckAccout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/CheckAccoutResponse" message="tns:IServiceHoaAccount_CheckAccout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableOfHoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/GetTableOfHoa" message="tns:IServiceHoaAccount_GetTableOfHoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/GetTableOfHoaResponse" message="tns:IServiceHoaAccount_GetTableOfHoa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/AddAccount" message="tns:IServiceHoaAccount_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/AddAccountResponse" message="tns:IServiceHoaAccount_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/DeleteAccount" message="tns:IServiceHoaAccount_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/DeleteAccountResponse" message="tns:IServiceHoaAccount_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/EditAccount" message="tns:IServiceHoaAccount_EditAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/EditAccountResponse" message="tns:IServiceHoaAccount_EditAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/Authorization" message="tns:IServiceHoaAccount_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/AuthorizationResponse" message="tns:IServiceHoaAccount_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoaAccount/GetAccountName" message="tns:IServiceHoaAccount_GetAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoaAccount/GetAccountNameResponse" message="tns:IServiceHoaAccount_GetAccountName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HoaAdmin" type="tns:IServiceHoaAccount">
    <wsp:PolicyReference URI="#HoaAdmin_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAccout">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/CheckAccout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableOfHoa">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/GetTableOfHoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/EditAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/Authorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountName">
      <soap12:operation soapAction="http://tempuri.org/IServiceHoaAccount/GetAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHoaAccount">
    <wsdl:port name="HoaAdmin" binding="tns:HoaAdmin">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>