CloudyHoa(Client)/Connected Services/TariffService/TariffService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TariffService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TariffService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.TariffService.TariffService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.TariffService.TariffService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.TariffService.TariffService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITariffService_AddTariff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTariff" />
  </wsdl:message>
  <wsdl:message name="ITariffService_AddTariff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTariffResponse" />
  </wsdl:message>
  <wsdl:message name="ITariffService_EditTariff_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTariff" />
  </wsdl:message>
  <wsdl:message name="ITariffService_EditTariff_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTariffResponse" />
  </wsdl:message>
  <wsdl:message name="ITariffService_DeleteTariff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTariff" />
  </wsdl:message>
  <wsdl:message name="ITariffService_DeleteTariff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTariffResponse" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetTariffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTariffs" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetTariffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTariffsResponse" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetTariffsFromMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTariffsFromMetadata" />
  </wsdl:message>
  <wsdl:message name="ITariffService_GetTariffsFromMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTariffsFromMetadataResponse" />
  </wsdl:message>
  <wsdl:portType name="ITariffService">
    <wsdl:operation name="AddTariff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/AddTariff" message="tns:ITariffService_AddTariff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/AddTariffResponse" message="tns:ITariffService_AddTariff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTariff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/EditTariff" message="tns:ITariffService_EditTariff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/EditTariffResponse" message="tns:ITariffService_EditTariff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTariff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/DeleteTariff" message="tns:ITariffService_DeleteTariff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/DeleteTariffResponse" message="tns:ITariffService_DeleteTariff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTariffs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/GetTariffs" message="tns:ITariffService_GetTariffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/GetTariffsResponse" message="tns:ITariffService_GetTariffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/GetServices" message="tns:ITariffService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/GetServicesResponse" message="tns:ITariffService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTariffsFromMetadata">
      <wsdl:input wsaw:Action="http://tempuri.org/ITariffService/GetTariffsFromMetadata" message="tns:ITariffService_GetTariffsFromMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITariffService/GetTariffsFromMetadataResponse" message="tns:ITariffService_GetTariffsFromMetadata_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TariffService" type="tns:ITariffService">
    <wsp:PolicyReference URI="#TariffService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTariff">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/AddTariff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTariff">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/EditTariff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTariff">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/DeleteTariff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTariffs">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/GetTariffs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTariffsFromMetadata">
      <soap12:operation soapAction="http://tempuri.org/ITariffService/GetTariffsFromMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TariffService">
    <wsdl:port name="TariffService" binding="tns:TariffService">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.TariffService.TariffService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.TariffService.TariffService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>