CloudyHoa(Client)/Connected Services/PersonalAccountService/PersonalAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PersonalAccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PersonalAccount_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonalAccountService_AddPersonalAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalAccount" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_AddPersonalAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_DeletePersonalAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalAccount" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_DeletePersonalAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_EditPersonalAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonalAccount" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_EditPersonalAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonalAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_GetPersonalAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalAccount" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_GetPersonalAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_GetPersonalAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalAccounts" />
  </wsdl:message>
  <wsdl:message name="IPersonalAccountService_GetPersonalAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonalAccountService">
    <wsdl:operation name="AddPersonalAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalAccountService/AddPersonalAccount" message="tns:IPersonalAccountService_AddPersonalAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalAccountService/AddPersonalAccountResponse" message="tns:IPersonalAccountService_AddPersonalAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalAccountService/DeletePersonalAccount" message="tns:IPersonalAccountService_DeletePersonalAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalAccountService/DeletePersonalAccountResponse" message="tns:IPersonalAccountService_DeletePersonalAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPersonalAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalAccountService/EditPersonalAccount" message="tns:IPersonalAccountService_EditPersonalAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalAccountService/EditPersonalAccountResponse" message="tns:IPersonalAccountService_EditPersonalAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalAccountService/GetPersonalAccount" message="tns:IPersonalAccountService_GetPersonalAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalAccountService/GetPersonalAccountResponse" message="tns:IPersonalAccountService_GetPersonalAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalAccountService/GetPersonalAccounts" message="tns:IPersonalAccountService_GetPersonalAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalAccountService/GetPersonalAccountsResponse" message="tns:IPersonalAccountService_GetPersonalAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonalAccount" type="tns:IPersonalAccountService">
    <wsp:PolicyReference URI="#PersonalAccount_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPersonalAccount">
      <soap12:operation soapAction="http://tempuri.org/IPersonalAccountService/AddPersonalAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalAccount">
      <soap12:operation soapAction="http://tempuri.org/IPersonalAccountService/DeletePersonalAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPersonalAccount">
      <soap12:operation soapAction="http://tempuri.org/IPersonalAccountService/EditPersonalAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalAccount">
      <soap12:operation soapAction="http://tempuri.org/IPersonalAccountService/GetPersonalAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalAccounts">
      <soap12:operation soapAction="http://tempuri.org/IPersonalAccountService/GetPersonalAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonalAccountService">
    <wsdl:port name="PersonalAccount" binding="tns:PersonalAccount">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>