CloudyHoa(Client)/Connected Services/ObjectsService/ObjectsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ObjectsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ObjectServicePoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObjectsService_DeleteObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObject" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_DeleteObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_EditObject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditObject" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_EditObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_AddObject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddObject" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_AddObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetAllObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllObjects" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetAllObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObjectsStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsStructure" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObjectsStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsStructureResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetAllChilds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChilds" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetAllChilds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChildsResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObjectsParents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsParents" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObjectsParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectsParentsResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetPathObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPathObject" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetPathObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetTypesOfChilds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesOfChilds" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetTypesOfChilds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesOfChildsResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="IObjectsService_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IObjectsService">
    <wsdl:operation name="DeleteObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/DeleteObject" message="tns:IObjectsService_DeleteObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/DeleteObjectResponse" message="tns:IObjectsService_DeleteObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/EditObject" message="tns:IObjectsService_EditObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/EditObjectResponse" message="tns:IObjectsService_EditObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/AddObject" message="tns:IObjectsService_AddObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/AddObjectResponse" message="tns:IObjectsService_AddObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetAllObjects" message="tns:IObjectsService_GetAllObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetAllObjectsResponse" message="tns:IObjectsService_GetAllObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectsStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetObjectsStructure" message="tns:IObjectsService_GetObjectsStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetObjectsStructureResponse" message="tns:IObjectsService_GetObjectsStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChilds">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetAllChilds" message="tns:IObjectsService_GetAllChilds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetAllChildsResponse" message="tns:IObjectsService_GetAllChilds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectsParents">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetObjectsParents" message="tns:IObjectsService_GetObjectsParents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetObjectsParentsResponse" message="tns:IObjectsService_GetObjectsParents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetPathObject" message="tns:IObjectsService_GetPathObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetPathObjectResponse" message="tns:IObjectsService_GetPathObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypesOfChilds">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetTypesOfChilds" message="tns:IObjectsService_GetTypesOfChilds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetTypesOfChildsResponse" message="tns:IObjectsService_GetTypesOfChilds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectsService/GetObject" message="tns:IObjectsService_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectsService/GetObjectResponse" message="tns:IObjectsService_GetObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectServicePoint" type="tns:IObjectsService">
    <wsp:PolicyReference URI="#ObjectServicePoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteObject">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/DeleteObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditObject">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/EditObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/AddObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetAllObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectsStructure">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetObjectsStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChilds">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetAllChilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectsParents">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetObjectsParents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathObject">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetPathObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypesOfChilds">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetTypesOfChilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <soap12:operation soapAction="http://tempuri.org/IObjectsService/GetObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectsService">
    <wsdl:port name="ObjectServicePoint" binding="tns:ObjectServicePoint">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.ObjectsService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>