CloudyHoa(Client)/Connected Services/MetadataService/MetadataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MetadataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MetadataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MetadataService.MetadataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MetadataService.MetadataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.MetadataService.MetadataService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetadataService_AddParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:AddParameter" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_AddParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_DeleteParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParameter" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_DeleteParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_EditParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:EditParameter" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_EditParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_AddTypeObject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeObject" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_AddTypeObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_EditTypeObject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTypeObject" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_EditTypeObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTypeObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_DeleteTypeObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeObject" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_DeleteTypeObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetAllTypesObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypesObjects" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetAllTypesObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypesObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetTypesObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesObjects" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetTypesObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParameters" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetTypesParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesParameters" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetTypesParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetCalculationServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationServices" />
  </wsdl:message>
  <wsdl:message name="IMetadataService_GetCalculationServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetadataService">
    <wsdl:operation name="AddParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/AddParameter" message="tns:IMetadataService_AddParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/AddParameterResponse" message="tns:IMetadataService_AddParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/DeleteParameter" message="tns:IMetadataService_DeleteParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/DeleteParameterResponse" message="tns:IMetadataService_DeleteParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/EditParameter" message="tns:IMetadataService_EditParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/EditParameterResponse" message="tns:IMetadataService_EditParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTypeObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/AddTypeObject" message="tns:IMetadataService_AddTypeObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/AddTypeObjectResponse" message="tns:IMetadataService_AddTypeObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTypeObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/EditTypeObject" message="tns:IMetadataService_EditTypeObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/EditTypeObjectResponse" message="tns:IMetadataService_EditTypeObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/DeleteTypeObject" message="tns:IMetadataService_DeleteTypeObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/DeleteTypeObjectResponse" message="tns:IMetadataService_DeleteTypeObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetAllTypesObjects" message="tns:IMetadataService_GetAllTypesObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetAllTypesObjectsResponse" message="tns:IMetadataService_GetAllTypesObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypesObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetTypesObjects" message="tns:IMetadataService_GetTypesObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetTypesObjectsResponse" message="tns:IMetadataService_GetTypesObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetParameters" message="tns:IMetadataService_GetParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetParametersResponse" message="tns:IMetadataService_GetParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypesParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetTypesParameters" message="tns:IMetadataService_GetTypesParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetTypesParametersResponse" message="tns:IMetadataService_GetTypesParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetServices" message="tns:IMetadataService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetServicesResponse" message="tns:IMetadataService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculationServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetadataService/GetCalculationServices" message="tns:IMetadataService_GetCalculationServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetadataService/GetCalculationServicesResponse" message="tns:IMetadataService_GetCalculationServices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetadataService" type="tns:IMetadataService">
    <wsp:PolicyReference URI="#MetadataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddParameter">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/AddParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParameter">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/DeleteParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditParameter">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/EditParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTypeObject">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/AddTypeObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTypeObject">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/EditTypeObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeObject">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/DeleteTypeObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypesObjects">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetAllTypesObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypesObjects">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetTypesObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypesParameters">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetTypesParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculationServices">
      <soap12:operation soapAction="http://tempuri.org/IMetadataService/GetCalculationServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetadataService">
    <wsdl:port name="MetadataService" binding="tns:MetadataService">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.MetadataService.MetadataService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.MetadataService.MetadataService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>