CloudyHoa(Client)/Connected Services/CHService/CHService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CHService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CHService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.CHService.CHService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.CHService.CHService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.CHService.CHService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICHService_GetCalculationHistoryFromObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationHistoryFromObject" />
  </wsdl:message>
  <wsdl:message name="ICHService_GetCalculationHistoryFromObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationHistoryFromObjectResponse" />
  </wsdl:message>
  <wsdl:message name="ICHService_GetCalculationHistoryFromPA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationHistoryFromPA" />
  </wsdl:message>
  <wsdl:message name="ICHService_GetCalculationHistoryFromPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationHistoryFromPAResponse" />
  </wsdl:message>
  <wsdl:portType name="ICHService">
    <wsdl:operation name="GetCalculationHistoryFromObject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICHService/GetCalculationHistoryFromObject" message="tns:ICHService_GetCalculationHistoryFromObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICHService/GetCalculationHistoryFromObjectResponse" message="tns:ICHService_GetCalculationHistoryFromObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculationHistoryFromPA">
      <wsdl:input wsaw:Action="http://tempuri.org/ICHService/GetCalculationHistoryFromPA" message="tns:ICHService_GetCalculationHistoryFromPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICHService/GetCalculationHistoryFromPAResponse" message="tns:ICHService_GetCalculationHistoryFromPA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHService" type="tns:ICHService">
    <wsp:PolicyReference URI="#CHService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalculationHistoryFromObject">
      <soap12:operation soapAction="http://tempuri.org/ICHService/GetCalculationHistoryFromObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculationHistoryFromPA">
      <soap12:operation soapAction="http://tempuri.org/ICHService/GetCalculationHistoryFromPA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHService">
    <wsdl:port name="CHService" binding="tns:CHService">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.CHService.CHService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.CHService.CHService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>