CloudyHoa(Client)/Connected Services/EHService/EHService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EHService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EHService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.EHService.EHService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.EHService.EHService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.EHService.EHService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEHService_GetEnteringHistoryFromObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnteringHistoryFromObject" />
  </wsdl:message>
  <wsdl:message name="IEHService_GetEnteringHistoryFromObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnteringHistoryFromObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IEHService_GetEnteringHistoryFromPA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnteringHistoryFromPA" />
  </wsdl:message>
  <wsdl:message name="IEHService_GetEnteringHistoryFromPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnteringHistoryFromPAResponse" />
  </wsdl:message>
  <wsdl:portType name="IEHService">
    <wsdl:operation name="GetEnteringHistoryFromObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IEHService/GetEnteringHistoryFromObject" message="tns:IEHService_GetEnteringHistoryFromObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEHService/GetEnteringHistoryFromObjectResponse" message="tns:IEHService_GetEnteringHistoryFromObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnteringHistoryFromPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IEHService/GetEnteringHistoryFromPA" message="tns:IEHService_GetEnteringHistoryFromPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEHService/GetEnteringHistoryFromPAResponse" message="tns:IEHService_GetEnteringHistoryFromPA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EHService" type="tns:IEHService">
    <wsp:PolicyReference URI="#EHService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEnteringHistoryFromObject">
      <soap12:operation soapAction="http://tempuri.org/IEHService/GetEnteringHistoryFromObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnteringHistoryFromPA">
      <soap12:operation soapAction="http://tempuri.org/IEHService/GetEnteringHistoryFromPA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EHService">
    <wsdl:port name="EHService" binding="tns:EHService">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.EHService.EHService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.EHService.EHService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>