CloudyHoa(Client)/Connected Services/ResidentsService/ApartmentResidents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ApartmentResidents" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ApartmentResidents_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApartmentResidents_AddResident_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResident" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_AddResident_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResidentResponse" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_EditResident_InputMessage">
    <wsdl:part name="parameters" element="tns:EditResident" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_EditResident_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResidentResponse" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_DeleteResident_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResident" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_DeleteResident_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResidentResponse" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_GetResidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResidents" />
  </wsdl:message>
  <wsdl:message name="IApartmentResidents_GetResidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IApartmentResidents">
    <wsdl:operation name="AddResident">
      <wsdl:input wsaw:Action="http://tempuri.org/IApartmentResidents/AddResident" message="tns:IApartmentResidents_AddResident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApartmentResidents/AddResidentResponse" message="tns:IApartmentResidents_AddResident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditResident">
      <wsdl:input wsaw:Action="http://tempuri.org/IApartmentResidents/EditResident" message="tns:IApartmentResidents_EditResident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApartmentResidents/EditResidentResponse" message="tns:IApartmentResidents_EditResident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResident">
      <wsdl:input wsaw:Action="http://tempuri.org/IApartmentResidents/DeleteResident" message="tns:IApartmentResidents_DeleteResident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApartmentResidents/DeleteResidentResponse" message="tns:IApartmentResidents_DeleteResident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IApartmentResidents/GetResidents" message="tns:IApartmentResidents_GetResidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApartmentResidents/GetResidentsResponse" message="tns:IApartmentResidents_GetResidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApartmentResidents" type="tns:IApartmentResidents">
    <wsp:PolicyReference URI="#ApartmentResidents_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddResident">
      <soap12:operation soapAction="http://tempuri.org/IApartmentResidents/AddResident" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditResident">
      <soap12:operation soapAction="http://tempuri.org/IApartmentResidents/EditResident" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResident">
      <soap12:operation soapAction="http://tempuri.org/IApartmentResidents/DeleteResident" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResidents">
      <soap12:operation soapAction="http://tempuri.org/IApartmentResidents/GetResidents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApartmentResidents">
    <wsdl:port name="ApartmentResidents" binding="tns:ApartmentResidents">
      <soap12:address location="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>